<%= title "Create an account for Deployd" %>

<div class="row">
	<div class="col-lg-4">
		<%= image_tag asset_url('identity/logo_presenter.png'), :width => "100%" %>
	</div>
	<div class="col-lg-8">
		<br><br>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Start in seconds</h3>
			</div>
			<div class="panel-body">
			<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form form-horizontal"}) do |f| %>

				<%= devise_error_messages! %>

				<%= f.input :email %>

				<% if @user.password_required? # Probably when logging with social (twitter) %>

					<%= f.input :password %>

					<%= f.input :password_confirmation %>

				<% end %>

				<%= btn_container do %>
					<%= f.button :button, 'Sign up'.html_safe, :class => "btn btn-primary " %>
				<% end %>

			<% end %>
			</div>
		</div>

		<%= render "devise/shared/links" %>
	</div>
</div>
