<% content_for :title do %>
	<%= title "Your authentications", :wrapper_class => "" %>
	<%= sub_title "Your connections to your repos" %>
<% end %>

<table class="table">
	<thead>
		<tr>
			<th>Provider</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @authentications.each do |authentication| %>
			<tr>
				<td><%= authentication.provider.capitalize %></td>
				<td>
					<%= link_to 'Destroy', authentication, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Authentication', new_authentication_path %>
