<%= title "Forgot your password?" %>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post, :class => "form form-horizontal"}) do |f| %>

	<% if notice %><div class="alert alert-success"><%= notice %></div><% end %>
	<% if alert %><div class="alert alert-danger"><%= alert %></div><% end %>

	<%= display_errors!(resource) %>

	<%= f.input :email, :label => false, :placeholder => "Your email address" %>

	<%= btn_container do %>
		<%= f.button :button, 'Send me reset password instructions'.html_safe, :class => "btn btn-primary" %>
	<% end %>

<% end %>

<%= render "devise/shared/links" %>
