<%= simple_form_for(@deployable_application) do |f| %>
	
	<% if @deployable_application.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@deployable_application.errors.count, "error") %> prohibited this deployable_application from being saved:</h2>

			<ul>
			<% @deployable_application.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<%= f.input :name %>

	<%= f.input :repo, :collection => possible_repos %>

	<%= f.input :branch %>

	<%= btn_container do %>
		<%= f.button :button, :class => "btn btn-primary" %>
	<% end %>

<% end %>
