<%= simple_form_for(@deployable_application) do |f| %>
	
	<% if @deployable_application.errors.any? %>
		<div class="alert alert-danger">
			<p class="text">
				<%= pluralize(@deployable_application.errors.count, "error") %> prohibited this deployable_application from being saved:
			</p>

			<ul>
			<% @deployable_application.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<%= f.input :name %>

	<%= f.input :repo, :collection => possible_repos(current_user) %>

	<%= f.input :branch %>

	<%= btn_container do %>
		<%= f.button :button, :class => "btn btn-primary" %>
	<% end %>

<% end %>
