<% content_for :title do %>
	<%= title @deployable_application.name, :wrapper_class => "" %>
	<%= sub_title "Application's detail" %>
<% end %>

<% generate_header_cover "https://photos-6.dropbox.com/t/0/AABrfHS74mfXJYNvY4Wp4GfzyNseCVpZIPeB4p8KUZAFsQ/12/137066628/png/1024x768/3/1407081600/0/2/Screen%20Shot%202014-08-03%20at%2016.15.13.png/3L_ijlZsFEkupNbyWQdgHLdpiWBUDFQPNNnEg7433XY" %>


<!-- Side header table -->
<% content_for :header_sidebar do %>
	
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Repo</th>
				<th>Token</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td><%= @deployable_application.repo_owner %> <%= @deployable_application.repo_name %></td>
				<td><%= @deployable_application.public_token %></td>
			</tr>
		</tbody>
	</table>

<% end %>


<% if @deployable_application.deployments.any? and latest_deployment = @deployable_application.deployments.last %>

	<div class="row">
		<div class="col-sm-8">
			<%= render :partial => "partials/timeline_with_deployments", :locals => {deployments: [latest_deployment] } %>
		</div>
	</div>


	<%= link_to "See all deployments", deployable_application_deployments_url(@deployable_application), :class => "btn btn-default", :style => "margin-left: 40px;" %>

<% elsif @deployable_application.installed  %>
	<div class="alert alert-warning">
		You have no deployments yet. Go <strong><i>cap production deploy</i></strong><%=  %> your application...
	</div>
<% end %>


<!-- Display a modal if the application was not installed -->
<% unless @deployable_application.installed %>
	<%= render :partial => "activation_modal" %>
<% end %>
