<% content_for :title do %>
	<%= title @deployable_application.name, :wrapper_class => "" %>
	<%= sub_title "Application's detail" %>
<% end %>
<table class="table">
	<thead>
		<tr>
			<th>Repo owner</th>
			<th>Repo name</th>
			<th>Repo address</th>
			<th>Public token</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td><%= @deployable_application.repo_owner %></td>
			<td><%= @deployable_application.repo_name %></td>
			<td><%= @deployable_application.repo %></td>
			<td><%= @deployable_application.public_token %></td>
		</tr>
	</tbody>
</table>

<% if @deployable_application.deployments.any? and latest_deployment = @deployable_application.deployments.last %>
	<!-- The latest deploy you made -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Last deployment</h3>
		</div>

		<div class="list-group">
			<a href="<%= deployable_application_deployment_url(@deployable_application, latest_deployment) %>" class="list-group-item">
				<span class="badge"><%= latest_deployment.pull_requests.count %> pull requests</span>
				<b>Deploy #<%= latest_deployment.id %></b> at <%= "#{latest_deployment.created_at}" %>
			</a>
		</div>
	</div>
	<%= link_to "See all deployments", deployable_application_deployments_url(@deployable_application) %>
<% elsif @deployable_application.installed  %>
	<div class="alert alert-warning">
		You have no deployments yet. Go <strong><i>cap production deploy</i></strong><%=  %> your application...
	</div>
<% end %>


<!-- Display a modal if the application was not installed -->
<% unless @deployable_application.installed %>
	<%= render :partial => "activation_modal" %>
<% end %>
