<% content_for :title do %>
	<%= title "#{@deployable_application.name}", :wrapper_class => "" %>
	<%= sub_title "Listing all deployments" %>
<% end %>

<!-- Side header table -->
<% content_for :header_sidebar do %>
	
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Repo</th>
				<th>Token</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td><%= @deployable_application.repo_owner %> <%= @deployable_application.repo_name %></td>
				<td><%= @deployable_application.public_token %></td>
			</tr>
		</tbody>
	</table>

<% end %>


<% if @deployments.any? %>

	<div class="row">
		<div class="col-sm-8">
			<%= render :partial => "partials/timeline_with_deployments", :locals => {deployments: @deployments } %>
		</div>
	</div>
<% end %>
