<% content_for :title do %>
	<%= title "#{@deployable_application.name}", :wrapper_class => "" %>
	<%= sub_title "Listing all deployments" %>
<% end %>

<!-- Side header table -->
<% content_for :header_sidebar do %>
	
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Repo</th>
				<th>Token</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td><%= @deployable_application.repo_owner %> <%= @deployable_application.repo_name %></td>
				<td><%= @deployable_application.public_token %></td>
			</tr>
		</tbody>
	</table>


	<!-- Actions -->
	<% if can? :update, :deployments %>
		<div class="btn-group">
			<!-- Public deployment link -->
			<%= link_to deployable_application_deployments_url(@deployable_application, :public_token => @deployable_application.public_token), :target => :blank, :class => "btn btn-primary btn-outline-inverse btn-sm" do %>
				<i class="glyphicon glyphicon-link"></i> Public link
			<% end %>
		</div>
	<% end %>


<% end %>


<% if @deployments.any? %>

	<div class="row">
		<div class="col-sm-8">
			<%= render :partial => "partials/timeline_with_deployments", :locals => {deployments: @deployments } %>
		</div>
	</div>
<% end %>
