<h1>Listing deployments</h1>

<table>
  <thead>
    <tr>
      <th>Deployed at</th>
      <th>Environment</th>
      <th>Branch</th>
      <th>Revision</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @deployments.each do |deployment| %>
      <tr>
        <td><%= deployment.created_at %></td>
        <td><%= deployment.environment %></td>
        <td><%= deployment.branch %></td>
        <td><%= deployment.revision %></td>
        <td><%= link_to 'Show', deployment %></td>
        <td><%= link_to 'Edit', edit_deployment_path(deployment) %></td>
        <td><%= link_to 'Destroy', deployment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deployment', new_deployment_path %>
