<% content_for :title do %>
	<%= title "#{@deployable_application.name} deployments", :wrapper_class => "" %>
	<%= sub_title "Listing all deployments" %>
<% end %>

<table class="table">
	<thead>
		<tr>
			<th>Repo owner</th>
			<th>Repo name</th>
			<th>Repo address</th>
			<th>Public token</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td><%= @deployable_application.repo_owner %></td>
			<td><%= @deployable_application.repo_name %></td>
			<td><%= @deployable_application.repo %></td>
			<td><%= @deployable_application.public_token %></td>
		</tr>
	</tbody>
</table>

<% if @deployments.any? %>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Deployment history</h3>
		</div>

		<div class="list-group">
			<% @deployments.each do |deployment| %>
				<a href="<%= deployable_application_deployment_url(@deployable_application, deployment, :public_token => params[:public_token]) %>" class="list-group-item">
					<span class="badge"><%= deployment.pull_requests.count %> pull requests</span>
					<b><%= deployment.title %></b> at <%= "#{deployment.created_at}" %>
				</a>
			<% end %>
		</div>
	</div>
<% end %>
