<% content_for :title do %>
	<%= title "Deployment ##{@deployment.id}", :wrapper_class => "" %>
	<%= sub_title "Deployed #{time_ago_in_words @deployment.created_at}" %>
<% end %>

<table class="table">
	<thead>
		<tr>
			<th>Deployed at</th>
			<th>Environment</th>
			<th>Branch</th>
			<th>Revision</th>
			<th>Deployed at</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td><%= @deployment.created_at %></td>
			<td><%= @deployment.environment %></td>
			<td><%= @deployment.branch %></td>
			<td><%= @deployment.revision %></td>
			<td><%= @deployment.created_at %></td>
		</tr>
	</tbody>
</table>

<% if @deployment.pull_requests.any? %>
	<!-- List of pull requests -->
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading"><h3 class="panel-title">Deployed pull requests</h3></div>

		<div class="list-group">
			<% @deployment.pull_requests.each do |pull_request| %>
				<a href="<%= deployment_pull_request_url @deployment, pull_request %>" class="list-group-item">
					<span class="badge"><%= pull_request.merged_on %></span>
					#<%= pull_request.pid %> <%= pull_request.title %>
				</a>
			<% end %>
		</div>
	</div>
<% end %>

<%= link_to 'Back', deployments_path %>
