<%= title "Deployment #{@deployment.created_at}" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Version:</strong>

</p>

Great pull requests:<br>
<ul>
<% @pull_requests[2].each do |pull_request| %>
	<li><%= pull_request.title %> - <%= pull_request['status'] %></li>
<% end %>
</ul>

Great issues:<br>
<ul>
<% @issues.each do |issue| %>
	<li><%= issue.title %> - <%= issue['status'] %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_deployment_path(@deployment) %> |
<%= link_to 'Back', deployments_path %>
