<!DOCTYPE html>
<html>
<head>
  <title>Captain - Effortless deployment tracking</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_classes %>">

	<!-- SIGNIN/SIGNOUT -->
	<%= render :partial => "partials/navbar" %>
	
	<%= render :partial => "alerts" %>

	<%= render :partial => "page_header" %>

	<br>
	<br>

	<% if controller_is?([:"devise/sessions", :"devise/registrations"]) %>
		<h1 class="typo-brand-strong brand-logo">Captain</h1>
	<% end %>

	<!-- THE CONTENT -->
	<div class="container">
		<%= yield %>
	</div>

<!-- 	<br><br>
	<div class="container-fluid footer">
		<div class="container">
			Made with <span class="glyphicon glyphicon-heart"></span></b>
		</div>
	</div>
 -->
</body>
</html>
